.fa-arrow-alt-circle-up{
    font-size: 2rem;
    color: #000;
}

.fa-glass-cheers{
    font-size: 2rem;
}

.description{
       text-align: justify;
       text-justify: inter-word;
}


.colbgc
{
    background-color: #fff;
}

.tmc{
    padding: 0px 10px;
}

.vc{
    text-align: center
}